[Unit]
Description=redis-7003
After=network.target

[Service]
ExecStart=/home/redis/redis-server /home/redis/7003/redis-7003.conf --daemonize no
ExecStop=/bin/kill -s TERM $MAINPID
User=redis
Group=redis
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target