[Unit]
Description=redis-7004
After=network.target

[Service]
ExecStart=/home/redis/redis-server /home/redis/7004/redis-7004.conf --daemonize no
ExecStop=/bin/kill -s TERM $MAINPID
User=redis
Group=redis
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target