[Unit]
Description=redis
After=network.target

[Service]
ExecStart=/data/redis/redis-server /data/redis/redis.conf --daemonize no
ExecStop=/data/redis/redis-cli shutdown
User=redis
Group=redis
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target